body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #2c3e50; /* Warna background yang lebih gelap */
}

.container {
  max-width: 90%; /* Maksimum lebar konten */
  margin: 100px auto;
  background-color: #34495e; /* Warna background container yang lebih gelap */
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3); /* Efek bayangan yang lebih gelap */
  position: relative;
  overflow: hidden;
}

header {
  text-align: center;
}

h1 {
  color: #ecf0f1; /* Warna teks yang lebih terang */
  font-size: 36px;
  margin-bottom: 10px;
  text-shadow: 2px 2px 4px #7f8c8d; /* Efek bayangan teks yang lebih gelap */
}

img {
  width: 100px;
  margin-bottom: 20px;
  filter: hue-rotate(90deg) brightness(0.8); /* Penyesuaian gambar yang lebih gelap */
}

main {
  text-align: justify;
}

p {
  color: #bdc3c7; /* Warna teks yang lebih terang */
  line-height: 1.6;
  margin-bottom: 15px;
}

#sender {
  color: #f39c12; /* Warna teks pengirim yang mewah */
  font-weight: bold; /* Tebal teks pengirim */
}

/* Additional Animation */
#heart {
  transition: transform 0.5s ease;
  z-index: 998; /* Atur z-index ke nilai yang lebih tinggi */
}

#sender:hover {
  animation: bounce 1s ease infinite;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 80%;
  }
}

@media (max-width: 576px) {
  h1 {
    font-size: 30px;
  }
}

/* Tambahkan styling untuk counter */
.counter {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 20px;
  color: #ffffff;
}

.shake {
  animation: shake 0.5s ease-in-out;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0);
  }
}
